// Red colors
// Orange colors
// Yellow colors
// Green colors
// Cyan colors
// Blue colors
// Purple colors
// Pink colors
// White colors
// Gray colors
// Brown colors


.border--1-s-black {
    border: 1px solid black !important;
}

.border--2-s-black {
    border: 2px solid black !important;
}

.border--3-s-black {
    border: 3px solid black !important;
}

.border--4-s-black {
    border: 4px solid black !important;
}

.border--5-s-black {
    border: 5px solid black !important;
}

.border--6-s-black {
    border: 6px solid black !important;
}

.border--7-s-black {
    border: 7px solid black !important;
}

.border--8-s-black {
    border: 8px solid black !important;
}

.border--9-s-black {
    border: 9px solid black !important;
}

.border--10-s-black {
    border: 10px solid black !important;
}

.border--11-s-black {
    border: 11px solid black !important;
}

.border--12-s-black {
    border: 12px solid black !important;
}

.border--13-s-black {
    border: 13px solid black !important;
}

.border--14-s-black {
    border: 14px solid black !important;
}

.border--15-s-black {
    border: 15px solid black !important;
}

.border--16-s-black {
    border: 16px solid black !important;
}

.border--17-s-black {
    border: 17px solid black !important;
}

.border--18-s-black {
    border: 18px solid black !important;
}

.border--19-s-black {
    border: 19px solid black !important;
}

.border--20-s-black {
    border: 20px solid black !important;
}

.border--21-s-black {
    border: 21px solid black !important;
}

.border--22-s-black {
    border: 22px solid black !important;
}

.border--23-s-black {
    border: 23px solid black !important;
}

.border--24-s-black {
    border: 24px solid black !important;
}

.border--25-s-black {
    border: 25px solid black !important;
}

.border--26-s-black {
    border: 26px solid black !important;
}

.border--27-s-black {
    border: 27px solid black !important;
}

.border--28-s-black {
    border: 28px solid black !important;
}

.border--29-s-black {
    border: 29px solid black !important;
}

.border--30-s-black {
    border: 30px solid black !important;
}

.border--31-s-black {
    border: 31px solid black !important;
}

.border--32-s-black {
    border: 32px solid black !important;
}

.border--33-s-black {
    border: 33px solid black !important;
}

.border--34-s-black {
    border: 34px solid black !important;
}

.border--35-s-black {
    border: 35px solid black !important;
}

.border--36-s-black {
    border: 36px solid black !important;
}

.border--37-s-black {
    border: 37px solid black !important;
}

.border--38-s-black {
    border: 38px solid black !important;
}

.border--39-s-black {
    border: 39px solid black !important;
}

.border--40-s-black {
    border: 40px solid black !important;
}

.border--41-s-black {
    border: 41px solid black !important;
}

.border--42-s-black {
    border: 42px solid black !important;
}

.border--43-s-black {
    border: 43px solid black !important;
}

.border--44-s-black {
    border: 44px solid black !important;
}

.border--45-s-black {
    border: 45px solid black !important;
}

.border--46-s-black {
    border: 46px solid black !important;
}

.border--47-s-black {
    border: 47px solid black !important;
}

.border--48-s-black {
    border: 48px solid black !important;
}

.border--49-s-black {
    border: 49px solid black !important;
}

.border--50-s-black {
    border: 50px solid black !important;
}

.border--51-s-black {
    border: 51px solid black !important;
}

.border--52-s-black {
    border: 52px solid black !important;
}

.border--53-s-black {
    border: 53px solid black !important;
}

.border--54-s-black {
    border: 54px solid black !important;
}

.border--55-s-black {
    border: 55px solid black !important;
}

.border--56-s-black {
    border: 56px solid black !important;
}

.border--57-s-black {
    border: 57px solid black !important;
}

.border--58-s-black {
    border: 58px solid black !important;
}

.border--59-s-black {
    border: 59px solid black !important;
}

.border--60-s-black {
    border: 60px solid black !important;
}

.border--61-s-black {
    border: 61px solid black !important;
}

.border--62-s-black {
    border: 62px solid black !important;
}

.border--63-s-black {
    border: 63px solid black !important;
}

.border--64-s-black {
    border: 64px solid black !important;
}

.border--65-s-black {
    border: 65px solid black !important;
}

.border--66-s-black {
    border: 66px solid black !important;
}

.border--67-s-black {
    border: 67px solid black !important;
}

.border--68-s-black {
    border: 68px solid black !important;
}

.border--69-s-black {
    border: 69px solid black !important;
}

.border--70-s-black {
    border: 70px solid black !important;
}

.border--71-s-black {
    border: 71px solid black !important;
}

.border--72-s-black {
    border: 72px solid black !important;
}

.border--73-s-black {
    border: 73px solid black !important;
}

.border--74-s-black {
    border: 74px solid black !important;
}

.border--75-s-black {
    border: 75px solid black !important;
}

.border--76-s-black {
    border: 76px solid black !important;
}

.border--77-s-black {
    border: 77px solid black !important;
}

.border--78-s-black {
    border: 78px solid black !important;
}

.border--79-s-black {
    border: 79px solid black !important;
}

.border--80-s-black {
    border: 80px solid black !important;
}

.border--81-s-black {
    border: 81px solid black !important;
}

.border--82-s-black {
    border: 82px solid black !important;
}

.border--83-s-black {
    border: 83px solid black !important;
}

.border--84-s-black {
    border: 84px solid black !important;
}

.border--85-s-black {
    border: 85px solid black !important;
}

.border--86-s-black {
    border: 86px solid black !important;
}

.border--87-s-black {
    border: 87px solid black !important;
}

.border--88-s-black {
    border: 88px solid black !important;
}

.border--89-s-black {
    border: 89px solid black !important;
}

.border--90-s-black {
    border: 90px solid black !important;
}

.border--91-s-black {
    border: 91px solid black !important;
}

.border--92-s-black {
    border: 92px solid black !important;
}

.border--93-s-black {
    border: 93px solid black !important;
}

.border--94-s-black {
    border: 94px solid black !important;
}

.border--95-s-black {
    border: 95px solid black !important;
}

.border--96-s-black {
    border: 96px solid black !important;
}

.border--97-s-black {
    border: 97px solid black !important;
}

.border--98-s-black {
    border: 98px solid black !important;
}

.border--99-s-black {
    border: 99px solid black !important;
}

.border--100-s-black {
    border: 100px solid black !important;
}