.fw--1{ font-weight:1px !important ; }
.fw--2{ font-weight:2px !important ; }
.fw--3{ font-weight:3px !important ; }
.fw--4{ font-weight:4px !important ; }
.fw--5{ font-weight:5px !important ; }
.fw--6{ font-weight:6px !important ; }
.fw--7{ font-weight:7px !important ; }
.fw--8{ font-weight:8px !important ; }
.fw--9{ font-weight:9px !important ; }
.fw--10{ font-weight:10px !important ; }
.fw--11{ font-weight:11px !important ; }
.fw--12{ font-weight:12px !important ; }
.fw--13{ font-weight:13px !important ; }
.fw--14{ font-weight:14px !important ; }
.fw--15{ font-weight:15px !important ; }
.fw--16{ font-weight:16px !important ; }
.fw--17{ font-weight:17px !important ; }
.fw--18{ font-weight:18px !important ; }
.fw--19{ font-weight:19px !important ; }
.fw--20{ font-weight:20px !important ; }
.fw--21{ font-weight:21px !important ; }
.fw--22{ font-weight:22px !important ; }
.fw--23{ font-weight:23px !important ; }
.fw--24{ font-weight:24px !important ; }
.fw--25{ font-weight:25px !important ; }
.fw--26{ font-weight:26px !important ; }
.fw--27{ font-weight:27px !important ; }
.fw--28{ font-weight:28px !important ; }
.fw--29{ font-weight:29px !important ; }
.fw--30{ font-weight:30px !important ; }
.fw--31{ font-weight:31px !important ; }
.fw--32{ font-weight:32px !important ; }
.fw--33{ font-weight:33px !important ; }
.fw--34{ font-weight:34px !important ; }
.fw--35{ font-weight:35px !important ; }
.fw--36{ font-weight:36px !important ; }
.fw--37{ font-weight:37px !important ; }
.fw--38{ font-weight:38px !important ; }
.fw--39{ font-weight:39px !important ; }
.fw--40{ font-weight:40px !important ; }
.fw--41{ font-weight:41px !important ; }
.fw--42{ font-weight:42px !important ; }
.fw--43{ font-weight:43px !important ; }
.fw--44{ font-weight:44px !important ; }
.fw--45{ font-weight:45px !important ; }
.fw--46{ font-weight:46px !important ; }
.fw--47{ font-weight:47px !important ; }
.fw--48{ font-weight:48px !important ; }
.fw--49{ font-weight:49px !important ; }
.fw--50{ font-weight:50px !important ; }
.fw--51{ font-weight:51px !important ; }
.fw--52{ font-weight:52px !important ; }
.fw--53{ font-weight:53px !important ; }
.fw--54{ font-weight:54px !important ; }
.fw--55{ font-weight:55px !important ; }
.fw--56{ font-weight:56px !important ; }
.fw--57{ font-weight:57px !important ; }
.fw--58{ font-weight:58px !important ; }
.fw--59{ font-weight:59px !important ; }
.fw--60{ font-weight:60px !important ; }
.fw--61{ font-weight:61px !important ; }
.fw--62{ font-weight:62px !important ; }
.fw--63{ font-weight:63px !important ; }
.fw--64{ font-weight:64px !important ; }
.fw--65{ font-weight:65px !important ; }
.fw--66{ font-weight:66px !important ; }
.fw--67{ font-weight:67px !important ; }
.fw--68{ font-weight:68px !important ; }
.fw--69{ font-weight:69px !important ; }
.fw--70{ font-weight:70px !important ; }
.fw--71{ font-weight:71px !important ; }
.fw--72{ font-weight:72px !important ; }
.fw--73{ font-weight:73px !important ; }
.fw--74{ font-weight:74px !important ; }
.fw--75{ font-weight:75px !important ; }
.fw--76{ font-weight:76px !important ; }
.fw--77{ font-weight:77px !important ; }
.fw--78{ font-weight:78px !important ; }
.fw--79{ font-weight:79px !important ; }
.fw--80{ font-weight:80px !important ; }
.fw--81{ font-weight:81px !important ; }
.fw--82{ font-weight:82px !important ; }
.fw--83{ font-weight:83px !important ; }
.fw--84{ font-weight:84px !important ; }
.fw--85{ font-weight:85px !important ; }
.fw--86{ font-weight:86px !important ; }
.fw--87{ font-weight:87px !important ; }
.fw--88{ font-weight:88px !important ; }
.fw--89{ font-weight:89px !important ; }
.fw--90{ font-weight:90px !important ; }
.fw--91{ font-weight:91px !important ; }
.fw--92{ font-weight:92px !important ; }
.fw--93{ font-weight:93px !important ; }
.fw--94{ font-weight:94px !important ; }
.fw--95{ font-weight:95px !important ; }
.fw--96{ font-weight:96px !important ; }
.fw--97{ font-weight:97px !important ; }
.fw--98{ font-weight:98px !important ; }
.fw--99{ font-weight:99px !important ; }
.fw--100{ font-weight:100px !important ; }
.fw--101{ font-weight:101px !important ; }
.fw--102{ font-weight:102px !important ; }
.fw--103{ font-weight:103px !important ; }
.fw--104{ font-weight:104px !important ; }
.fw--105{ font-weight:105px !important ; }
.fw--106{ font-weight:106px !important ; }
.fw--107{ font-weight:107px !important ; }
.fw--108{ font-weight:108px !important ; }
.fw--109{ font-weight:109px !important ; }
.fw--110{ font-weight:110px !important ; }
.fw--111{ font-weight:111px !important ; }
.fw--112{ font-weight:112px !important ; }
.fw--113{ font-weight:113px !important ; }
.fw--114{ font-weight:114px !important ; }
.fw--115{ font-weight:115px !important ; }
.fw--116{ font-weight:116px !important ; }
.fw--117{ font-weight:117px !important ; }
.fw--118{ font-weight:118px !important ; }
.fw--119{ font-weight:119px !important ; }
.fw--120{ font-weight:120px !important ; }
.fw--121{ font-weight:121px !important ; }
.fw--122{ font-weight:122px !important ; }
.fw--123{ font-weight:123px !important ; }
.fw--124{ font-weight:124px !important ; }
.fw--125{ font-weight:125px !important ; }
.fw--126{ font-weight:126px !important ; }
.fw--127{ font-weight:127px !important ; }
.fw--128{ font-weight:128px !important ; }
.fw--129{ font-weight:129px !important ; }
.fw--130{ font-weight:130px !important ; }
.fw--131{ font-weight:131px !important ; }
.fw--132{ font-weight:132px !important ; }
.fw--133{ font-weight:133px !important ; }
.fw--134{ font-weight:134px !important ; }
.fw--135{ font-weight:135px !important ; }
.fw--136{ font-weight:136px !important ; }
.fw--137{ font-weight:137px !important ; }
.fw--138{ font-weight:138px !important ; }
.fw--139{ font-weight:139px !important ; }
.fw--140{ font-weight:140px !important ; }
.fw--141{ font-weight:141px !important ; }
.fw--142{ font-weight:142px !important ; }
.fw--143{ font-weight:143px !important ; }
.fw--144{ font-weight:144px !important ; }
.fw--145{ font-weight:145px !important ; }
.fw--146{ font-weight:146px !important ; }
.fw--147{ font-weight:147px !important ; }
.fw--148{ font-weight:148px !important ; }
.fw--149{ font-weight:149px !important ; }
.fw--150{ font-weight:150px !important ; }
.fw--151{ font-weight:151px !important ; }
.fw--152{ font-weight:152px !important ; }
.fw--153{ font-weight:153px !important ; }
.fw--154{ font-weight:154px !important ; }
.fw--155{ font-weight:155px !important ; }
.fw--156{ font-weight:156px !important ; }
.fw--157{ font-weight:157px !important ; }
.fw--158{ font-weight:158px !important ; }
.fw--159{ font-weight:159px !important ; }
.fw--160{ font-weight:160px !important ; }
.fw--161{ font-weight:161px !important ; }
.fw--162{ font-weight:162px !important ; }
.fw--163{ font-weight:163px !important ; }
.fw--164{ font-weight:164px !important ; }
.fw--165{ font-weight:165px !important ; }
.fw--166{ font-weight:166px !important ; }
.fw--167{ font-weight:167px !important ; }
.fw--168{ font-weight:168px !important ; }
.fw--169{ font-weight:169px !important ; }
.fw--170{ font-weight:170px !important ; }
.fw--171{ font-weight:171px !important ; }
.fw--172{ font-weight:172px !important ; }
.fw--173{ font-weight:173px !important ; }
.fw--174{ font-weight:174px !important ; }
.fw--175{ font-weight:175px !important ; }
.fw--176{ font-weight:176px !important ; }
.fw--177{ font-weight:177px !important ; }
.fw--178{ font-weight:178px !important ; }
.fw--179{ font-weight:179px !important ; }
.fw--180{ font-weight:180px !important ; }
.fw--181{ font-weight:181px !important ; }
.fw--182{ font-weight:182px !important ; }
.fw--183{ font-weight:183px !important ; }
.fw--184{ font-weight:184px !important ; }
.fw--185{ font-weight:185px !important ; }
.fw--186{ font-weight:186px !important ; }
.fw--187{ font-weight:187px !important ; }
.fw--188{ font-weight:188px !important ; }
.fw--189{ font-weight:189px !important ; }
.fw--190{ font-weight:190px !important ; }
.fw--191{ font-weight:191px !important ; }
.fw--192{ font-weight:192px !important ; }
.fw--193{ font-weight:193px !important ; }
.fw--194{ font-weight:194px !important ; }
.fw--195{ font-weight:195px !important ; }
.fw--196{ font-weight:196px !important ; }
.fw--197{ font-weight:197px !important ; }
.fw--198{ font-weight:198px !important ; }
.fw--199{ font-weight:199px !important ; }
.fw--200{ font-weight:200px !important ; }
.fw--201{ font-weight:201px !important ; }
.fw--202{ font-weight:202px !important ; }
.fw--203{ font-weight:203px !important ; }
.fw--204{ font-weight:204px !important ; }
.fw--205{ font-weight:205px !important ; }
.fw--206{ font-weight:206px !important ; }
.fw--207{ font-weight:207px !important ; }
.fw--208{ font-weight:208px !important ; }
.fw--209{ font-weight:209px !important ; }
.fw--210{ font-weight:210px !important ; }
.fw--211{ font-weight:211px !important ; }
.fw--212{ font-weight:212px !important ; }
.fw--213{ font-weight:213px !important ; }
.fw--214{ font-weight:214px !important ; }
.fw--215{ font-weight:215px !important ; }
.fw--216{ font-weight:216px !important ; }
.fw--217{ font-weight:217px !important ; }
.fw--218{ font-weight:218px !important ; }
.fw--219{ font-weight:219px !important ; }
.fw--220{ font-weight:220px !important ; }
.fw--221{ font-weight:221px !important ; }
.fw--222{ font-weight:222px !important ; }
.fw--223{ font-weight:223px !important ; }
.fw--224{ font-weight:224px !important ; }
.fw--225{ font-weight:225px !important ; }
.fw--226{ font-weight:226px !important ; }
.fw--227{ font-weight:227px !important ; }
.fw--228{ font-weight:228px !important ; }
.fw--229{ font-weight:229px !important ; }
.fw--230{ font-weight:230px !important ; }
.fw--231{ font-weight:231px !important ; }
.fw--232{ font-weight:232px !important ; }
.fw--233{ font-weight:233px !important ; }
.fw--234{ font-weight:234px !important ; }
.fw--235{ font-weight:235px !important ; }
.fw--236{ font-weight:236px !important ; }
.fw--237{ font-weight:237px !important ; }
.fw--238{ font-weight:238px !important ; }
.fw--239{ font-weight:239px !important ; }
.fw--240{ font-weight:240px !important ; }
.fw--241{ font-weight:241px !important ; }
.fw--242{ font-weight:242px !important ; }
.fw--243{ font-weight:243px !important ; }
.fw--244{ font-weight:244px !important ; }
.fw--245{ font-weight:245px !important ; }
.fw--246{ font-weight:246px !important ; }
.fw--247{ font-weight:247px !important ; }
.fw--248{ font-weight:248px !important ; }
.fw--249{ font-weight:249px !important ; }
.fw--250{ font-weight:250px !important ; }
.fw--251{ font-weight:251px !important ; }
.fw--252{ font-weight:252px !important ; }
.fw--253{ font-weight:253px !important ; }
.fw--254{ font-weight:254px !important ; }
.fw--255{ font-weight:255px !important ; }
.fw--256{ font-weight:256px !important ; }
.fw--257{ font-weight:257px !important ; }
.fw--258{ font-weight:258px !important ; }
.fw--259{ font-weight:259px !important ; }
.fw--260{ font-weight:260px !important ; }
.fw--261{ font-weight:261px !important ; }
.fw--262{ font-weight:262px !important ; }
.fw--263{ font-weight:263px !important ; }
.fw--264{ font-weight:264px !important ; }
.fw--265{ font-weight:265px !important ; }
.fw--266{ font-weight:266px !important ; }
.fw--267{ font-weight:267px !important ; }
.fw--268{ font-weight:268px !important ; }
.fw--269{ font-weight:269px !important ; }
.fw--270{ font-weight:270px !important ; }
.fw--271{ font-weight:271px !important ; }
.fw--272{ font-weight:272px !important ; }
.fw--273{ font-weight:273px !important ; }
.fw--274{ font-weight:274px !important ; }
.fw--275{ font-weight:275px !important ; }
.fw--276{ font-weight:276px !important ; }
.fw--277{ font-weight:277px !important ; }
.fw--278{ font-weight:278px !important ; }
.fw--279{ font-weight:279px !important ; }
.fw--280{ font-weight:280px !important ; }
.fw--281{ font-weight:281px !important ; }
.fw--282{ font-weight:282px !important ; }
.fw--283{ font-weight:283px !important ; }
.fw--284{ font-weight:284px !important ; }
.fw--285{ font-weight:285px !important ; }
.fw--286{ font-weight:286px !important ; }
.fw--287{ font-weight:287px !important ; }
.fw--288{ font-weight:288px !important ; }
.fw--289{ font-weight:289px !important ; }
.fw--290{ font-weight:290px !important ; }
.fw--291{ font-weight:291px !important ; }
.fw--292{ font-weight:292px !important ; }
.fw--293{ font-weight:293px !important ; }
.fw--294{ font-weight:294px !important ; }
.fw--295{ font-weight:295px !important ; }
.fw--296{ font-weight:296px !important ; }
.fw--297{ font-weight:297px !important ; }
.fw--298{ font-weight:298px !important ; }
.fw--299{ font-weight:299px !important ; }
.fw--300{ font-weight:300px !important ; }
.fw--301{ font-weight:301px !important ; }
.fw--302{ font-weight:302px !important ; }
.fw--303{ font-weight:303px !important ; }
.fw--304{ font-weight:304px !important ; }
.fw--305{ font-weight:305px !important ; }
.fw--306{ font-weight:306px !important ; }
.fw--307{ font-weight:307px !important ; }
.fw--308{ font-weight:308px !important ; }
.fw--309{ font-weight:309px !important ; }
.fw--310{ font-weight:310px !important ; }
.fw--311{ font-weight:311px !important ; }
.fw--312{ font-weight:312px !important ; }
.fw--313{ font-weight:313px !important ; }
.fw--314{ font-weight:314px !important ; }
.fw--315{ font-weight:315px !important ; }
.fw--316{ font-weight:316px !important ; }
.fw--317{ font-weight:317px !important ; }
.fw--318{ font-weight:318px !important ; }
.fw--319{ font-weight:319px !important ; }
.fw--320{ font-weight:320px !important ; }
.fw--321{ font-weight:321px !important ; }
.fw--322{ font-weight:322px !important ; }
.fw--323{ font-weight:323px !important ; }
.fw--324{ font-weight:324px !important ; }
.fw--325{ font-weight:325px !important ; }
.fw--326{ font-weight:326px !important ; }
.fw--327{ font-weight:327px !important ; }
.fw--328{ font-weight:328px !important ; }
.fw--329{ font-weight:329px !important ; }
.fw--330{ font-weight:330px !important ; }
.fw--331{ font-weight:331px !important ; }
.fw--332{ font-weight:332px !important ; }
.fw--333{ font-weight:333px !important ; }
.fw--334{ font-weight:334px !important ; }
.fw--335{ font-weight:335px !important ; }
.fw--336{ font-weight:336px !important ; }
.fw--337{ font-weight:337px !important ; }
.fw--338{ font-weight:338px !important ; }
.fw--339{ font-weight:339px !important ; }
.fw--340{ font-weight:340px !important ; }
.fw--341{ font-weight:341px !important ; }
.fw--342{ font-weight:342px !important ; }
.fw--343{ font-weight:343px !important ; }
.fw--344{ font-weight:344px !important ; }
.fw--345{ font-weight:345px !important ; }
.fw--346{ font-weight:346px !important ; }
.fw--347{ font-weight:347px !important ; }
.fw--348{ font-weight:348px !important ; }
.fw--349{ font-weight:349px !important ; }
.fw--350{ font-weight:350px !important ; }
.fw--351{ font-weight:351px !important ; }
.fw--352{ font-weight:352px !important ; }
.fw--353{ font-weight:353px !important ; }
.fw--354{ font-weight:354px !important ; }
.fw--355{ font-weight:355px !important ; }
.fw--356{ font-weight:356px !important ; }
.fw--357{ font-weight:357px !important ; }
.fw--358{ font-weight:358px !important ; }
.fw--359{ font-weight:359px !important ; }
.fw--360{ font-weight:360px !important ; }
.fw--361{ font-weight:361px !important ; }
.fw--362{ font-weight:362px !important ; }
.fw--363{ font-weight:363px !important ; }
.fw--364{ font-weight:364px !important ; }
.fw--365{ font-weight:365px !important ; }
.fw--366{ font-weight:366px !important ; }
.fw--367{ font-weight:367px !important ; }
.fw--368{ font-weight:368px !important ; }
.fw--369{ font-weight:369px !important ; }
.fw--370{ font-weight:370px !important ; }
.fw--371{ font-weight:371px !important ; }
.fw--372{ font-weight:372px !important ; }
.fw--373{ font-weight:373px !important ; }
.fw--374{ font-weight:374px !important ; }
.fw--375{ font-weight:375px !important ; }
.fw--376{ font-weight:376px !important ; }
.fw--377{ font-weight:377px !important ; }
.fw--378{ font-weight:378px !important ; }
.fw--379{ font-weight:379px !important ; }
.fw--380{ font-weight:380px !important ; }
.fw--381{ font-weight:381px !important ; }
.fw--382{ font-weight:382px !important ; }
.fw--383{ font-weight:383px !important ; }
.fw--384{ font-weight:384px !important ; }
.fw--385{ font-weight:385px !important ; }
.fw--386{ font-weight:386px !important ; }
.fw--387{ font-weight:387px !important ; }
.fw--388{ font-weight:388px !important ; }
.fw--389{ font-weight:389px !important ; }
.fw--390{ font-weight:390px !important ; }
.fw--391{ font-weight:391px !important ; }
.fw--392{ font-weight:392px !important ; }
.fw--393{ font-weight:393px !important ; }
.fw--394{ font-weight:394px !important ; }
.fw--395{ font-weight:395px !important ; }
.fw--396{ font-weight:396px !important ; }
.fw--397{ font-weight:397px !important ; }
.fw--398{ font-weight:398px !important ; }
.fw--399{ font-weight:399px !important ; }
.fw--400{ font-weight:400px !important ; }
.fw--401{ font-weight:401px !important ; }
.fw--402{ font-weight:402px !important ; }
.fw--403{ font-weight:403px !important ; }
.fw--404{ font-weight:404px !important ; }
.fw--405{ font-weight:405px !important ; }
.fw--406{ font-weight:406px !important ; }
.fw--407{ font-weight:407px !important ; }
.fw--408{ font-weight:408px !important ; }
.fw--409{ font-weight:409px !important ; }
.fw--410{ font-weight:410px !important ; }
.fw--411{ font-weight:411px !important ; }
.fw--412{ font-weight:412px !important ; }
.fw--413{ font-weight:413px !important ; }
.fw--414{ font-weight:414px !important ; }
.fw--415{ font-weight:415px !important ; }
.fw--416{ font-weight:416px !important ; }
.fw--417{ font-weight:417px !important ; }
.fw--418{ font-weight:418px !important ; }
.fw--419{ font-weight:419px !important ; }
.fw--420{ font-weight:420px !important ; }
.fw--421{ font-weight:421px !important ; }
.fw--422{ font-weight:422px !important ; }
.fw--423{ font-weight:423px !important ; }
.fw--424{ font-weight:424px !important ; }
.fw--425{ font-weight:425px !important ; }
.fw--426{ font-weight:426px !important ; }
.fw--427{ font-weight:427px !important ; }
.fw--428{ font-weight:428px !important ; }
.fw--429{ font-weight:429px !important ; }
.fw--430{ font-weight:430px !important ; }
.fw--431{ font-weight:431px !important ; }
.fw--432{ font-weight:432px !important ; }
.fw--433{ font-weight:433px !important ; }
.fw--434{ font-weight:434px !important ; }
.fw--435{ font-weight:435px !important ; }
.fw--436{ font-weight:436px !important ; }
.fw--437{ font-weight:437px !important ; }
.fw--438{ font-weight:438px !important ; }
.fw--439{ font-weight:439px !important ; }
.fw--440{ font-weight:440px !important ; }
.fw--441{ font-weight:441px !important ; }
.fw--442{ font-weight:442px !important ; }
.fw--443{ font-weight:443px !important ; }
.fw--444{ font-weight:444px !important ; }
.fw--445{ font-weight:445px !important ; }
.fw--446{ font-weight:446px !important ; }
.fw--447{ font-weight:447px !important ; }
.fw--448{ font-weight:448px !important ; }
.fw--449{ font-weight:449px !important ; }
.fw--450{ font-weight:450px !important ; }
.fw--451{ font-weight:451px !important ; }
.fw--452{ font-weight:452px !important ; }
.fw--453{ font-weight:453px !important ; }
.fw--454{ font-weight:454px !important ; }
.fw--455{ font-weight:455px !important ; }
.fw--456{ font-weight:456px !important ; }
.fw--457{ font-weight:457px !important ; }
.fw--458{ font-weight:458px !important ; }
.fw--459{ font-weight:459px !important ; }
.fw--460{ font-weight:460px !important ; }
.fw--461{ font-weight:461px !important ; }
.fw--462{ font-weight:462px !important ; }
.fw--463{ font-weight:463px !important ; }
.fw--464{ font-weight:464px !important ; }
.fw--465{ font-weight:465px !important ; }
.fw--466{ font-weight:466px !important ; }
.fw--467{ font-weight:467px !important ; }
.fw--468{ font-weight:468px !important ; }
.fw--469{ font-weight:469px !important ; }
.fw--470{ font-weight:470px !important ; }
.fw--471{ font-weight:471px !important ; }
.fw--472{ font-weight:472px !important ; }
.fw--473{ font-weight:473px !important ; }
.fw--474{ font-weight:474px !important ; }
.fw--475{ font-weight:475px !important ; }
.fw--476{ font-weight:476px !important ; }
.fw--477{ font-weight:477px !important ; }
.fw--478{ font-weight:478px !important ; }
.fw--479{ font-weight:479px !important ; }
.fw--480{ font-weight:480px !important ; }
.fw--481{ font-weight:481px !important ; }
.fw--482{ font-weight:482px !important ; }
.fw--483{ font-weight:483px !important ; }
.fw--484{ font-weight:484px !important ; }
.fw--485{ font-weight:485px !important ; }
.fw--486{ font-weight:486px !important ; }
.fw--487{ font-weight:487px !important ; }
.fw--488{ font-weight:488px !important ; }
.fw--489{ font-weight:489px !important ; }
.fw--490{ font-weight:490px !important ; }
.fw--491{ font-weight:491px !important ; }
.fw--492{ font-weight:492px !important ; }
.fw--493{ font-weight:493px !important ; }
.fw--494{ font-weight:494px !important ; }
.fw--495{ font-weight:495px !important ; }
.fw--496{ font-weight:496px !important ; }
.fw--497{ font-weight:497px !important ; }
.fw--498{ font-weight:498px !important ; }
.fw--499{ font-weight:499px !important ; }
.fw--500{ font-weight:500px !important ; }
.fw--501{ font-weight:501px !important ; }
.fw--502{ font-weight:502px !important ; }
.fw--503{ font-weight:503px !important ; }
.fw--504{ font-weight:504px !important ; }
.fw--505{ font-weight:505px !important ; }
.fw--506{ font-weight:506px !important ; }
.fw--507{ font-weight:507px !important ; }
.fw--508{ font-weight:508px !important ; }
.fw--509{ font-weight:509px !important ; }
.fw--510{ font-weight:510px !important ; }
.fw--511{ font-weight:511px !important ; }
.fw--512{ font-weight:512px !important ; }
.fw--513{ font-weight:513px !important ; }
.fw--514{ font-weight:514px !important ; }
.fw--515{ font-weight:515px !important ; }
.fw--516{ font-weight:516px !important ; }
.fw--517{ font-weight:517px !important ; }
.fw--518{ font-weight:518px !important ; }
.fw--519{ font-weight:519px !important ; }
.fw--520{ font-weight:520px !important ; }
.fw--521{ font-weight:521px !important ; }
.fw--522{ font-weight:522px !important ; }
.fw--523{ font-weight:523px !important ; }
.fw--524{ font-weight:524px !important ; }
.fw--525{ font-weight:525px !important ; }
.fw--526{ font-weight:526px !important ; }
.fw--527{ font-weight:527px !important ; }
.fw--528{ font-weight:528px !important ; }
.fw--529{ font-weight:529px !important ; }
.fw--530{ font-weight:530px !important ; }
.fw--531{ font-weight:531px !important ; }
.fw--532{ font-weight:532px !important ; }
.fw--533{ font-weight:533px !important ; }
.fw--534{ font-weight:534px !important ; }
.fw--535{ font-weight:535px !important ; }
.fw--536{ font-weight:536px !important ; }
.fw--537{ font-weight:537px !important ; }
.fw--538{ font-weight:538px !important ; }
.fw--539{ font-weight:539px !important ; }
.fw--540{ font-weight:540px !important ; }
.fw--541{ font-weight:541px !important ; }
.fw--542{ font-weight:542px !important ; }
.fw--543{ font-weight:543px !important ; }
.fw--544{ font-weight:544px !important ; }
.fw--545{ font-weight:545px !important ; }
.fw--546{ font-weight:546px !important ; }
.fw--547{ font-weight:547px !important ; }
.fw--548{ font-weight:548px !important ; }
.fw--549{ font-weight:549px !important ; }
.fw--550{ font-weight:550px !important ; }
.fw--551{ font-weight:551px !important ; }
.fw--552{ font-weight:552px !important ; }
.fw--553{ font-weight:553px !important ; }
.fw--554{ font-weight:554px !important ; }
.fw--555{ font-weight:555px !important ; }
.fw--556{ font-weight:556px !important ; }
.fw--557{ font-weight:557px !important ; }
.fw--558{ font-weight:558px !important ; }
.fw--559{ font-weight:559px !important ; }
.fw--560{ font-weight:560px !important ; }
.fw--561{ font-weight:561px !important ; }
.fw--562{ font-weight:562px !important ; }
.fw--563{ font-weight:563px !important ; }
.fw--564{ font-weight:564px !important ; }
.fw--565{ font-weight:565px !important ; }
.fw--566{ font-weight:566px !important ; }
.fw--567{ font-weight:567px !important ; }
.fw--568{ font-weight:568px !important ; }
.fw--569{ font-weight:569px !important ; }
.fw--570{ font-weight:570px !important ; }
.fw--571{ font-weight:571px !important ; }
.fw--572{ font-weight:572px !important ; }
.fw--573{ font-weight:573px !important ; }
.fw--574{ font-weight:574px !important ; }
.fw--575{ font-weight:575px !important ; }
.fw--576{ font-weight:576px !important ; }
.fw--577{ font-weight:577px !important ; }
.fw--578{ font-weight:578px !important ; }
.fw--579{ font-weight:579px !important ; }
.fw--580{ font-weight:580px !important ; }
.fw--581{ font-weight:581px !important ; }
.fw--582{ font-weight:582px !important ; }
.fw--583{ font-weight:583px !important ; }
.fw--584{ font-weight:584px !important ; }
.fw--585{ font-weight:585px !important ; }
.fw--586{ font-weight:586px !important ; }
.fw--587{ font-weight:587px !important ; }
.fw--588{ font-weight:588px !important ; }
.fw--589{ font-weight:589px !important ; }
.fw--590{ font-weight:590px !important ; }
.fw--591{ font-weight:591px !important ; }
.fw--592{ font-weight:592px !important ; }
.fw--593{ font-weight:593px !important ; }
.fw--594{ font-weight:594px !important ; }
.fw--595{ font-weight:595px !important ; }
.fw--596{ font-weight:596px !important ; }
.fw--597{ font-weight:597px !important ; }
.fw--598{ font-weight:598px !important ; }
.fw--599{ font-weight:599px !important ; }
.fw--600{ font-weight:600px !important ; }
.fw--601{ font-weight:601px !important ; }
.fw--602{ font-weight:602px !important ; }
.fw--603{ font-weight:603px !important ; }
.fw--604{ font-weight:604px !important ; }
.fw--605{ font-weight:605px !important ; }
.fw--606{ font-weight:606px !important ; }
.fw--607{ font-weight:607px !important ; }
.fw--608{ font-weight:608px !important ; }
.fw--609{ font-weight:609px !important ; }
.fw--610{ font-weight:610px !important ; }
.fw--611{ font-weight:611px !important ; }
.fw--612{ font-weight:612px !important ; }
.fw--613{ font-weight:613px !important ; }
.fw--614{ font-weight:614px !important ; }
.fw--615{ font-weight:615px !important ; }
.fw--616{ font-weight:616px !important ; }
.fw--617{ font-weight:617px !important ; }
.fw--618{ font-weight:618px !important ; }
.fw--619{ font-weight:619px !important ; }
.fw--620{ font-weight:620px !important ; }
.fw--621{ font-weight:621px !important ; }
.fw--622{ font-weight:622px !important ; }
.fw--623{ font-weight:623px !important ; }
.fw--624{ font-weight:624px !important ; }
.fw--625{ font-weight:625px !important ; }
.fw--626{ font-weight:626px !important ; }
.fw--627{ font-weight:627px !important ; }
.fw--628{ font-weight:628px !important ; }
.fw--629{ font-weight:629px !important ; }
.fw--630{ font-weight:630px !important ; }
.fw--631{ font-weight:631px !important ; }
.fw--632{ font-weight:632px !important ; }
.fw--633{ font-weight:633px !important ; }
.fw--634{ font-weight:634px !important ; }
.fw--635{ font-weight:635px !important ; }
.fw--636{ font-weight:636px !important ; }
.fw--637{ font-weight:637px !important ; }
.fw--638{ font-weight:638px !important ; }
.fw--639{ font-weight:639px !important ; }
.fw--640{ font-weight:640px !important ; }
.fw--641{ font-weight:641px !important ; }
.fw--642{ font-weight:642px !important ; }
.fw--643{ font-weight:643px !important ; }
.fw--644{ font-weight:644px !important ; }
.fw--645{ font-weight:645px !important ; }
.fw--646{ font-weight:646px !important ; }
.fw--647{ font-weight:647px !important ; }
.fw--648{ font-weight:648px !important ; }
.fw--649{ font-weight:649px !important ; }
.fw--650{ font-weight:650px !important ; }
.fw--651{ font-weight:651px !important ; }
.fw--652{ font-weight:652px !important ; }
.fw--653{ font-weight:653px !important ; }
.fw--654{ font-weight:654px !important ; }
.fw--655{ font-weight:655px !important ; }
.fw--656{ font-weight:656px !important ; }
.fw--657{ font-weight:657px !important ; }
.fw--658{ font-weight:658px !important ; }
.fw--659{ font-weight:659px !important ; }
.fw--660{ font-weight:660px !important ; }
.fw--661{ font-weight:661px !important ; }
.fw--662{ font-weight:662px !important ; }
.fw--663{ font-weight:663px !important ; }
.fw--664{ font-weight:664px !important ; }
.fw--665{ font-weight:665px !important ; }
.fw--666{ font-weight:666px !important ; }
.fw--667{ font-weight:667px !important ; }
.fw--668{ font-weight:668px !important ; }
.fw--669{ font-weight:669px !important ; }
.fw--670{ font-weight:670px !important ; }
.fw--671{ font-weight:671px !important ; }
.fw--672{ font-weight:672px !important ; }
.fw--673{ font-weight:673px !important ; }
.fw--674{ font-weight:674px !important ; }
.fw--675{ font-weight:675px !important ; }
.fw--676{ font-weight:676px !important ; }
.fw--677{ font-weight:677px !important ; }
.fw--678{ font-weight:678px !important ; }
.fw--679{ font-weight:679px !important ; }
.fw--680{ font-weight:680px !important ; }
.fw--681{ font-weight:681px !important ; }
.fw--682{ font-weight:682px !important ; }
.fw--683{ font-weight:683px !important ; }
.fw--684{ font-weight:684px !important ; }
.fw--685{ font-weight:685px !important ; }
.fw--686{ font-weight:686px !important ; }
.fw--687{ font-weight:687px !important ; }
.fw--688{ font-weight:688px !important ; }
.fw--689{ font-weight:689px !important ; }
.fw--690{ font-weight:690px !important ; }
.fw--691{ font-weight:691px !important ; }
.fw--692{ font-weight:692px !important ; }
.fw--693{ font-weight:693px !important ; }
.fw--694{ font-weight:694px !important ; }
.fw--695{ font-weight:695px !important ; }
.fw--696{ font-weight:696px !important ; }
.fw--697{ font-weight:697px !important ; }
.fw--698{ font-weight:698px !important ; }
.fw--699{ font-weight:699px !important ; }
.fw--700{ font-weight:700px !important ; }
.fw--701{ font-weight:701px !important ; }
.fw--702{ font-weight:702px !important ; }
.fw--703{ font-weight:703px !important ; }
.fw--704{ font-weight:704px !important ; }
.fw--705{ font-weight:705px !important ; }
.fw--706{ font-weight:706px !important ; }
.fw--707{ font-weight:707px !important ; }
.fw--708{ font-weight:708px !important ; }
.fw--709{ font-weight:709px !important ; }
.fw--710{ font-weight:710px !important ; }
.fw--711{ font-weight:711px !important ; }
.fw--712{ font-weight:712px !important ; }
.fw--713{ font-weight:713px !important ; }
.fw--714{ font-weight:714px !important ; }
.fw--715{ font-weight:715px !important ; }
.fw--716{ font-weight:716px !important ; }
.fw--717{ font-weight:717px !important ; }
.fw--718{ font-weight:718px !important ; }
.fw--719{ font-weight:719px !important ; }
.fw--720{ font-weight:720px !important ; }
.fw--721{ font-weight:721px !important ; }
.fw--722{ font-weight:722px !important ; }
.fw--723{ font-weight:723px !important ; }
.fw--724{ font-weight:724px !important ; }
.fw--725{ font-weight:725px !important ; }
.fw--726{ font-weight:726px !important ; }
.fw--727{ font-weight:727px !important ; }
.fw--728{ font-weight:728px !important ; }
.fw--729{ font-weight:729px !important ; }
.fw--730{ font-weight:730px !important ; }
.fw--731{ font-weight:731px !important ; }
.fw--732{ font-weight:732px !important ; }
.fw--733{ font-weight:733px !important ; }
.fw--734{ font-weight:734px !important ; }
.fw--735{ font-weight:735px !important ; }
.fw--736{ font-weight:736px !important ; }
.fw--737{ font-weight:737px !important ; }
.fw--738{ font-weight:738px !important ; }
.fw--739{ font-weight:739px !important ; }
.fw--740{ font-weight:740px !important ; }
.fw--741{ font-weight:741px !important ; }
.fw--742{ font-weight:742px !important ; }
.fw--743{ font-weight:743px !important ; }
.fw--744{ font-weight:744px !important ; }
.fw--745{ font-weight:745px !important ; }
.fw--746{ font-weight:746px !important ; }
.fw--747{ font-weight:747px !important ; }
.fw--748{ font-weight:748px !important ; }
.fw--749{ font-weight:749px !important ; }
.fw--750{ font-weight:750px !important ; }
.fw--751{ font-weight:751px !important ; }
.fw--752{ font-weight:752px !important ; }
.fw--753{ font-weight:753px !important ; }
.fw--754{ font-weight:754px !important ; }
.fw--755{ font-weight:755px !important ; }
.fw--756{ font-weight:756px !important ; }
.fw--757{ font-weight:757px !important ; }
.fw--758{ font-weight:758px !important ; }
.fw--759{ font-weight:759px !important ; }
.fw--760{ font-weight:760px !important ; }
.fw--761{ font-weight:761px !important ; }
.fw--762{ font-weight:762px !important ; }
.fw--763{ font-weight:763px !important ; }
.fw--764{ font-weight:764px !important ; }
.fw--765{ font-weight:765px !important ; }
.fw--766{ font-weight:766px !important ; }
.fw--767{ font-weight:767px !important ; }
.fw--768{ font-weight:768px !important ; }
.fw--769{ font-weight:769px !important ; }
.fw--770{ font-weight:770px !important ; }
.fw--771{ font-weight:771px !important ; }
.fw--772{ font-weight:772px !important ; }
.fw--773{ font-weight:773px !important ; }
.fw--774{ font-weight:774px !important ; }
.fw--775{ font-weight:775px !important ; }
.fw--776{ font-weight:776px !important ; }
.fw--777{ font-weight:777px !important ; }
.fw--778{ font-weight:778px !important ; }
.fw--779{ font-weight:779px !important ; }
.fw--780{ font-weight:780px !important ; }
.fw--781{ font-weight:781px !important ; }
.fw--782{ font-weight:782px !important ; }
.fw--783{ font-weight:783px !important ; }
.fw--784{ font-weight:784px !important ; }
.fw--785{ font-weight:785px !important ; }
.fw--786{ font-weight:786px !important ; }
.fw--787{ font-weight:787px !important ; }
.fw--788{ font-weight:788px !important ; }
.fw--789{ font-weight:789px !important ; }
.fw--790{ font-weight:790px !important ; }
.fw--791{ font-weight:791px !important ; }
.fw--792{ font-weight:792px !important ; }
.fw--793{ font-weight:793px !important ; }
.fw--794{ font-weight:794px !important ; }
.fw--795{ font-weight:795px !important ; }
.fw--796{ font-weight:796px !important ; }
.fw--797{ font-weight:797px !important ; }
.fw--798{ font-weight:798px !important ; }
.fw--799{ font-weight:799px !important ; }
.fw--800{ font-weight:800px !important ; }
.fw--801{ font-weight:801px !important ; }
.fw--802{ font-weight:802px !important ; }
.fw--803{ font-weight:803px !important ; }
.fw--804{ font-weight:804px !important ; }
.fw--805{ font-weight:805px !important ; }
.fw--806{ font-weight:806px !important ; }
.fw--807{ font-weight:807px !important ; }
.fw--808{ font-weight:808px !important ; }
.fw--809{ font-weight:809px !important ; }
.fw--810{ font-weight:810px !important ; }
.fw--811{ font-weight:811px !important ; }
.fw--812{ font-weight:812px !important ; }
.fw--813{ font-weight:813px !important ; }
.fw--814{ font-weight:814px !important ; }
.fw--815{ font-weight:815px !important ; }
.fw--816{ font-weight:816px !important ; }
.fw--817{ font-weight:817px !important ; }
.fw--818{ font-weight:818px !important ; }
.fw--819{ font-weight:819px !important ; }
.fw--820{ font-weight:820px !important ; }
.fw--821{ font-weight:821px !important ; }
.fw--822{ font-weight:822px !important ; }
.fw--823{ font-weight:823px !important ; }
.fw--824{ font-weight:824px !important ; }
.fw--825{ font-weight:825px !important ; }
.fw--826{ font-weight:826px !important ; }
.fw--827{ font-weight:827px !important ; }
.fw--828{ font-weight:828px !important ; }
.fw--829{ font-weight:829px !important ; }
.fw--830{ font-weight:830px !important ; }
.fw--831{ font-weight:831px !important ; }
.fw--832{ font-weight:832px !important ; }
.fw--833{ font-weight:833px !important ; }
.fw--834{ font-weight:834px !important ; }
.fw--835{ font-weight:835px !important ; }
.fw--836{ font-weight:836px !important ; }
.fw--837{ font-weight:837px !important ; }
.fw--838{ font-weight:838px !important ; }
.fw--839{ font-weight:839px !important ; }
.fw--840{ font-weight:840px !important ; }
.fw--841{ font-weight:841px !important ; }
.fw--842{ font-weight:842px !important ; }
.fw--843{ font-weight:843px !important ; }
.fw--844{ font-weight:844px !important ; }
.fw--845{ font-weight:845px !important ; }
.fw--846{ font-weight:846px !important ; }
.fw--847{ font-weight:847px !important ; }
.fw--848{ font-weight:848px !important ; }
.fw--849{ font-weight:849px !important ; }
.fw--850{ font-weight:850px !important ; }
.fw--851{ font-weight:851px !important ; }
.fw--852{ font-weight:852px !important ; }
.fw--853{ font-weight:853px !important ; }
.fw--854{ font-weight:854px !important ; }
.fw--855{ font-weight:855px !important ; }
.fw--856{ font-weight:856px !important ; }
.fw--857{ font-weight:857px !important ; }
.fw--858{ font-weight:858px !important ; }
.fw--859{ font-weight:859px !important ; }
.fw--860{ font-weight:860px !important ; }
.fw--861{ font-weight:861px !important ; }
.fw--862{ font-weight:862px !important ; }
.fw--863{ font-weight:863px !important ; }
.fw--864{ font-weight:864px !important ; }
.fw--865{ font-weight:865px !important ; }
.fw--866{ font-weight:866px !important ; }
.fw--867{ font-weight:867px !important ; }
.fw--868{ font-weight:868px !important ; }
.fw--869{ font-weight:869px !important ; }
.fw--870{ font-weight:870px !important ; }
.fw--871{ font-weight:871px !important ; }
.fw--872{ font-weight:872px !important ; }
.fw--873{ font-weight:873px !important ; }
.fw--874{ font-weight:874px !important ; }
.fw--875{ font-weight:875px !important ; }
.fw--876{ font-weight:876px !important ; }
.fw--877{ font-weight:877px !important ; }
.fw--878{ font-weight:878px !important ; }
.fw--879{ font-weight:879px !important ; }
.fw--880{ font-weight:880px !important ; }
.fw--881{ font-weight:881px !important ; }
.fw--882{ font-weight:882px !important ; }
.fw--883{ font-weight:883px !important ; }
.fw--884{ font-weight:884px !important ; }
.fw--885{ font-weight:885px !important ; }
.fw--886{ font-weight:886px !important ; }
.fw--887{ font-weight:887px !important ; }
.fw--888{ font-weight:888px !important ; }
.fw--889{ font-weight:889px !important ; }
.fw--890{ font-weight:890px !important ; }
.fw--891{ font-weight:891px !important ; }
.fw--892{ font-weight:892px !important ; }
.fw--893{ font-weight:893px !important ; }
.fw--894{ font-weight:894px !important ; }
.fw--895{ font-weight:895px !important ; }
.fw--896{ font-weight:896px !important ; }
.fw--897{ font-weight:897px !important ; }
.fw--898{ font-weight:898px !important ; }
.fw--899{ font-weight:899px !important ; }
.fw--900{ font-weight:900px !important ; }
.fw--901{ font-weight:901px !important ; }
.fw--902{ font-weight:902px !important ; }
.fw--903{ font-weight:903px !important ; }
.fw--904{ font-weight:904px !important ; }
.fw--905{ font-weight:905px !important ; }
.fw--906{ font-weight:906px !important ; }
.fw--907{ font-weight:907px !important ; }
.fw--908{ font-weight:908px !important ; }
.fw--909{ font-weight:909px !important ; }
.fw--910{ font-weight:910px !important ; }
.fw--911{ font-weight:911px !important ; }
.fw--912{ font-weight:912px !important ; }
.fw--913{ font-weight:913px !important ; }
.fw--914{ font-weight:914px !important ; }
.fw--915{ font-weight:915px !important ; }
.fw--916{ font-weight:916px !important ; }
.fw--917{ font-weight:917px !important ; }
.fw--918{ font-weight:918px !important ; }
.fw--919{ font-weight:919px !important ; }
.fw--920{ font-weight:920px !important ; }
.fw--921{ font-weight:921px !important ; }
.fw--922{ font-weight:922px !important ; }
.fw--923{ font-weight:923px !important ; }
.fw--924{ font-weight:924px !important ; }
.fw--925{ font-weight:925px !important ; }
.fw--926{ font-weight:926px !important ; }
.fw--927{ font-weight:927px !important ; }
.fw--928{ font-weight:928px !important ; }
.fw--929{ font-weight:929px !important ; }
.fw--930{ font-weight:930px !important ; }
.fw--931{ font-weight:931px !important ; }
.fw--932{ font-weight:932px !important ; }
.fw--933{ font-weight:933px !important ; }
.fw--934{ font-weight:934px !important ; }
.fw--935{ font-weight:935px !important ; }
.fw--936{ font-weight:936px !important ; }
.fw--937{ font-weight:937px !important ; }
.fw--938{ font-weight:938px !important ; }
.fw--939{ font-weight:939px !important ; }
.fw--940{ font-weight:940px !important ; }
.fw--941{ font-weight:941px !important ; }
.fw--942{ font-weight:942px !important ; }
.fw--943{ font-weight:943px !important ; }
.fw--944{ font-weight:944px !important ; }
.fw--945{ font-weight:945px !important ; }
.fw--946{ font-weight:946px !important ; }
.fw--947{ font-weight:947px !important ; }
.fw--948{ font-weight:948px !important ; }
.fw--949{ font-weight:949px !important ; }
.fw--950{ font-weight:950px !important ; }
.fw--951{ font-weight:951px !important ; }
.fw--952{ font-weight:952px !important ; }
.fw--953{ font-weight:953px !important ; }
.fw--954{ font-weight:954px !important ; }
.fw--955{ font-weight:955px !important ; }
.fw--956{ font-weight:956px !important ; }
.fw--957{ font-weight:957px !important ; }
.fw--958{ font-weight:958px !important ; }
.fw--959{ font-weight:959px !important ; }
.fw--960{ font-weight:960px !important ; }
.fw--961{ font-weight:961px !important ; }
.fw--962{ font-weight:962px !important ; }
.fw--963{ font-weight:963px !important ; }
.fw--964{ font-weight:964px !important ; }
.fw--965{ font-weight:965px !important ; }
.fw--966{ font-weight:966px !important ; }
.fw--967{ font-weight:967px !important ; }
.fw--968{ font-weight:968px !important ; }
.fw--969{ font-weight:969px !important ; }
.fw--970{ font-weight:970px !important ; }
.fw--971{ font-weight:971px !important ; }
.fw--972{ font-weight:972px !important ; }
.fw--973{ font-weight:973px !important ; }
.fw--974{ font-weight:974px !important ; }
.fw--975{ font-weight:975px !important ; }
.fw--976{ font-weight:976px !important ; }
.fw--977{ font-weight:977px !important ; }
.fw--978{ font-weight:978px !important ; }
.fw--979{ font-weight:979px !important ; }
.fw--980{ font-weight:980px !important ; }
.fw--981{ font-weight:981px !important ; }
.fw--982{ font-weight:982px !important ; }
.fw--983{ font-weight:983px !important ; }
.fw--984{ font-weight:984px !important ; }
.fw--985{ font-weight:985px !important ; }
.fw--986{ font-weight:986px !important ; }
.fw--987{ font-weight:987px !important ; }
.fw--988{ font-weight:988px !important ; }
.fw--989{ font-weight:989px !important ; }
.fw--990{ font-weight:990px !important ; }
.fw--991{ font-weight:991px !important ; }
.fw--992{ font-weight:992px !important ; }
.fw--993{ font-weight:993px !important ; }
.fw--994{ font-weight:994px !important ; }
.fw--995{ font-weight:995px !important ; }
.fw--996{ font-weight:996px !important ; }
.fw--997{ font-weight:997px !important ; }
.fw--998{ font-weight:998px !important ; }
.fw--999{ font-weight:999px !important ; }
.fw--1000{ font-weight:1000px !important ; }